{% extends 'base.html' %}
{% load static %}


{% block content %} 
 <section class="site-section" id="work-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="text-black h1 site-section-heading text-center mt-4">Our Works</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, itaque neque, delectus odio iure explicabo.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a href=" {% static 'images/Bee/b_6.jpg' %}" class="media-1" data-fancybox="gallery" id="work">
              <img src="{% static 'images/Bee/b_6.jpg' %}" alt="Image" class="img-fluid" id="work">
              <div class="media-1-content">
                <h2>Bonzai Tree</h2>
                <span class="category">Web Application</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="{% static 'images/Bee/b_7.jpg' %}" class="media-1" data-fancybox="gallery" id="work">
              <img src="{% static 'images/Bee/b_7.jpg' %}" alt="Image" class="img-fluid" id="work">
              <div class="media-1-content">
                <h2>Simple Woman</h2>
                <span class="category">Branding</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="{% static '}images/Bee/b_8.jpg' %" class="media-1" data-fancybox="gallery" id="work">
              <img src="{% static 'images/Bee/b_8.jpg' %}" alt="Image" class="img-fluid" id="work">
              <div class="media-1-content">
                <h2>Fruits</h2>
                <span class="category">Website</span>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4">
            <a href="{% static 'images/Bee/b_9.jpg' %}" class="media-1" data-fancybox="gallery" id="work">
              <img src="{% static 'images/Bee/b_9.jpg' %}" alt="Image" class="img-fluid" id="work">
              <div class="media-1-content">
                <h2>Design Material</h2>
                <span class="category">Web Application</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="{% static 'images/Bee/b_10.jpg' %}" class="media-1" data-fancybox="gallery" id="work">
              <img src="{% static 'images/Bee/b_10.jpg' %}" alt="Image" class="img-fluid" id="work">
              <div class="media-1-content">
                <h2>Handy Food</h2>
                <span class="category">Branding</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="{% static 'images/Bee/b_11.jpg' %}" class="media-1" data-fancybox="gallery" id="work">
              <img src="{% static 'images/Bee/b_11.jpg' %}" alt="Image" class="img-fluid" id="work">
              <div class="media-1-content">
                <h2>Cat With Cup</h2>
                <span class="category">Website</span>
              </div>
            </a>
          </div>

         
        </div>
      </div>
    </section> 
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'about' %}">About Us</a></li>
                  <li><a href="{% url 'work' %}">Our Works</a></li>
                  <!-- <li><a href="#">Testimonials</a></li> -->
                  <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>

<style>
  #work{
    height: 400px;
    width: 400px;

  }

</style>
{% endblock %}